<!-- Slideshow -->
<div class="section slideshow">
    <div class="container">
        <div class="tiva-slideshow-wrapper">
            <div id="tiva-slideshow" class="nivoSlider">
                @foreach (var item in (List<sliderDto>)await response.getSlidersAsync())
                {
                    <a href="javasccript:;"> <img class="img-responsive" src="/uploads/sliders/@item.image" alt="@item.title"></a>
                }
            </div>
        </div>
    </div>
</div>

<!-- Banners -->
<div class="section banners">
    <div class="container">
        <div class="row margin-10">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-10">
                <div class="banner-item effect">
                    <a href="javascript:;">
                        <img class="img-responsive" src="img/banner/home2-banner-1.png" alt="Banner 1">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-10">
                <div class="banner-item effect">
                    <a href="javascript:;">
                        <img class="img-responsive" src="img/banner/home2-banner-2.png" alt="Banner 2">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-10">
                <div class="banner-item effect">
                    <a href="javascript:;">
                        <img class="img-responsive" src="img/banner/home2-banner-3.png" alt="Banner 3">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 2 Columns -->
<div class="two-columns">
    <div class="container">
        <div class="row ">
            <!-- Left Column -->
            <div class="col-20p col-md-3 left-column">
                <!-- Product - Category -->
                <div class="section product-categories" id="categories">
                    <div class="block-title">
                        <h2 class="title">Kategoriler</h2>
                    </div>
                    <div class="block-content">
                        @foreach (var item in (List<viewCategoryDto>)await response.geCategoriesAsync())
                        {
                            <div class="item">
                                <span class="arrow categoriesCountBox">@item.productCount</span>
                                <a class="category-title" href="/categories/@item.id">@item.name</a>
                            </div>
                        }
                    </div>
                </div>

                <!-- Product - Flash Deals -->
                @*  <div class="section products-block nav-color flash-deals layout-4">
                <div class="block-title">
                <h2 class="title">Flash Deals</h2>
                </div>

                <div class="block-content">
                <div class="products owl-theme owl-carousel">
                <div class="product-item">
                <div class="product-image">
                <a href="product-detail-left-sidebar.html">
                <img src="img/product/4.jpg" alt="Product Image">
                </a>
                </div>

                <div class="product-countdown" data-date="2018/11/28">
                </div>

                <div class="product-title">
                <a href="product-detail-left-sidebar.html">
                Organic Strawberry Fruits
                </a>
                </div>

                <div class="product-rating">
                <div class="star on"></div>
                <div class="star on"></div>
                <div class="star on "></div>
                <div class="star on"></div>
                <div class="star"></div>
                </div>

                <div class="product-price">
                <span class="sale-price">$80.00</span>
                <span class="base-price">$90.00</span>
                </div>

                <div class="product-buttons">
                <a class="add-to-cart" href="#">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a>

                <a class="add-wishlist" href="#">
                <i class="fa fa-heart" aria-hidden="true"></i>
                </a>

                <a class="quickview" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                </div>
                </div>

                <div class="product-item">
                <div class="product-image">
                <a href="product-detail-left-sidebar.html">
                <img src="img/product/18.jpg" alt="Product Image">
                </a>
                </div>

                <div class="product-countdown" data-date="2018/12/18">
                </div>

                <div class="product-title">
                <a href="product-detail-left-sidebar.html">
                Organic Strawberry Fruits
                </a>
                </div>

                <div class="product-rating">
                <div class="star on"></div>
                <div class="star on"></div>
                <div class="star on "></div>
                <div class="star on"></div>
                <div class="star"></div>
                </div>

                <div class="product-price">
                <span class="sale-price">$80.00</span>
                <span class="base-price">$90.00</span>
                </div>

                <div class="product-buttons">
                <a class="add-to-cart" href="#">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a>

                <a class="add-wishlist" href="#">
                <i class="fa fa-heart" aria-hidden="true"></i>
                </a>

                <a class="quickview" href="#">
                <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                </div>
                </div>
                </div>
                </div>
                </div>*@


                <!-- Payment Intro -->
                <div class="section payment-intro">
                    <div class="block-content">
                        <div class="item">
                            <img class="img-responsive" src="img/home2-payment-1.png" alt="Payment Intro">
                            <h3 class="title">GÜVENLİ SEVKİYAT</h3>
                            <div class="content">Güvenli sevkiyat yapılabilir.</div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/home2-payment-2.png" alt="Payment Intro">
                            <h3 class="title">
                                GÜVENLİ ÖDEME
                            </h3>
                            <div class="content">Güvenli ödeme ile güvendesiniz.</div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/home2-payment-3.png" alt="Payment Intro">
                            <h3 class="title">PARA İADE GARANTİSİ</h3>
                            <div class="content">Para iade garantisi veriyoruz.</div>
                        </div>
                    </div>
                </div>

                <!-- Son Yorumlar -->
                <div class="section testimonial" id="lastcomments">
                    <div class="block-title">
                        <h2 class="title">Son Yorumlar</h2>
                    </div>
                    <div class="block-content">
                        <div class="testimonial-wrap owl-theme owl-carousel">
                            @foreach (var item in (List<lastCommentsDto>)await response.getLastComments("5"))
                            {
                                <div class="item">
                                    <a href="/products/@item.productID">
                                        <div class="image"><img src="/uploads/products/@item.Product.image" alt=""></div>
                                        <div class="name">@item.Product.name</div>
                                    </a>
                                    <div class="content">“@item.detail”</div>
                                    <img src="/img/profil_avatar.png" alt="" class="imgBoxShadow defaultLastCommentsIMG" width="70" height="70">
                                    <div class="product-rating">@Html.Raw(veriyoneticisi.ratingChange(item.rating))</div>
                                    <div class="job">@item.User.firstName @item.User.lastName</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column body -->
            <div class="col-80p col-md-9 right-column">
                <!-- Product - Category Tab -->
                <div class="section products-block category-tab" id="productFavorite">
                    <div class="block-title">
                        <h2 class="title">Favoriler</h2>
                    </div>

                    <div class="block-content">
                        <!-- Tab Navigation -->
                        <div class="tab-nav">
                            <ul>
                                <li class="active">
                                    <a data-toggle="tab" href="#new-arrivals">
                                        <span>Bugün Favorileri</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#best-seller">
                                        <span>Dün Favorileri</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#on-sale">
                                        <span>Genel Favoriler</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Tab Content -->
                        <div class="tab-content" >

                            <!-- New Arrivals -->
                            <div role="tabpanel" class="tab-pane fade in active" id="new-arrivals">
                                <div class="products owl-theme owl-carousel">
                                    @foreach (var item in (List<viewsFavoriteDto>)await response.productFavoritesAsync("Today"))
                                    {
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="/products/@item.ProductID">
                                                    <img src="/img/kurdale.png" alt="kurdale" class="kurdale">
                                                    <img src="/uploads/products/@item.Image" alt="Product Image">
                                                </a>
                                            </div>

                                            <div class="product-title">
                                                <a href="/products/@item.ProductID">
                                                    @item.Name
                                                </a>
                                            </div>

                                            <div class="product-rating">@Html.Raw(veriyoneticisi.ratingChange(item.averageRating)) </div>
                                            <span class="review-count">(@(item.commentCount))</span>

                                            <div class="product-price">
                                                <span class="sale-price">@item.SalePrice</span>
                                                <span class="base-price">@item.BasePrice</span>
                                            </div>

                                            <div class="product-buttons">
                                                @if (item.Stock > 0)
                                                {
                                                    <a class="add-to-cart" href="javascript:;" onclick="vba.root.addBasket('@item.ProductID','@item.Name','@item.Image','@item.SalePrice','@item.Stock','@item.shippingAmount',1);">
                                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                    </a>
                                                }

                                                <a class="add-wishlist" href="javascript:;" onclick="vba.route.ccnt.funcs.updateUserFavorite('@item.ProductID');">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                </a>

                                                <a class="quickview" href="/products/@item.ProductID">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <!-- Best Seller -->
                            <div role="tabpanel" class="tab-pane fade" id="best-seller">
                                <div class="products owl-theme owl-carousel">
                                    @foreach (var item in (List<viewsFavoriteDto>)await response.productFavoritesAsync("Yesterday"))
                                    {
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="/products/@item.ProductID">
                                                    <img src="/img/kurdale.png" alt="kurdale" class="kurdale">
                                                    <img src="/uploads/products/@item.Image" alt="Product Image">
                                                </a>
                                            </div>

                                            <div class="product-title">
                                                <a href="/products/@item.ProductID">
                                                    @item.Name
                                                </a>
                                            </div>

                                            <div class="product-rating">@Html.Raw(veriyoneticisi.ratingChange(item.averageRating)) </div>
                                            <span class="review-count">(@(item.commentCount))</span>

                                            <div class="product-price">
                                                <span class="sale-price">@item.SalePrice</span>
                                                <span class="base-price">@item.BasePrice</span>
                                            </div>

                                            <div class="product-buttons">
                                                @if (item.Stock > 0)
                                                {
                                                    <a class="add-to-cart" href="javascript:;" onclick="vba.root.addBasket('@item.ProductID','@item.Name','@item.Image','@item.SalePrice','@item.Stock','@item.shippingAmount',1);">
                                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                    </a>
                                                }

                                                <a class="add-wishlist" href="javascript:;" onclick="vba.route.ccnt.funcs.updateUserFavorite('@item.ProductID');">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                </a>

                                                <a class="quickview" href="/products/@item.ProductID">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <!-- On Sale -->
                            <div role="tabpanel" class="tab-pane fade" id="on-sale">
                                <div class="products owl-theme owl-carousel">
                                    @foreach (var item in (List<viewsFavoriteDto>)await response.productFavoritesAsync("General"))
                                    {
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="/products/@item.ProductID">
                                                    <img src="/img/kurdale.png" alt="kurdale" class="kurdale">
                                                    <img src="/uploads/products/@item.Image" alt="Product Image">
                                                </a>
                                            </div>

                                            <div class="product-title">
                                                <a href="/products/@item.ProductID">
                                                    @item.Name
                                                </a>
                                            </div>

                                            <div class="product-rating">@Html.Raw(veriyoneticisi.ratingChange(item.averageRating)) </div>
                                            <span class="review-count">(@(item.commentCount))</span>

                                            <div class="product-price">
                                                <span class="sale-price">@item.SalePrice</span>
                                                <span class="base-price">@item.BasePrice</span>
                                            </div>

                                            <div class="product-buttons">
                                                @if (item.Stock > 0)
                                                {
                                                    <a class="add-to-cart" href="javascript:;" onclick="vba.root.addBasket('@item.ProductID','@item.Name','@item.Image','@item.SalePrice','@item.Stock','@item.shippingAmount',1);">
                                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                <a class="add-wishlist" href="javascript:;" onclick="vba.route.ccnt.funcs.updateUserFavorite('@item.ProductID');">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                </a>

                                                <a class="quickview" href="/products/@item.ProductID">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Newsletter -->
                <div class="section newsletter" id="bulletin" >
                    <h2 class="block-title">BÜLTEN</h2>
                    <div class="block-content">
                        <p class="description"><span>@await layout.settingsAsync("title")</span> ürünleri hakkında özel teklifler ve özel haberler almak için bültene kaydolun</p>
                        <form ethod="post" onsubmit="vba.route.ccnt.funcs.updateBulletin(this);return false">
                            <input type="text" name="email" placeholder="E-postanızı Giriniz">
                            <button type="submit" class="btn btn-primary">Abone Ol</button>
                        </form>
                    </div>
                </div>


@*                <!-- Product - Category Double -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="section products-block category-double">
                            <div class="block-title">
                                <h2 class="title">Fruits</h2>
                            </div>

                            <div class="block-content">
                                <div class="products owl-theme owl-carousel">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="product-detail-left-sidebar.html">
                                                <img src="img/product/4.jpg" alt="Product Image">
                                            </a>
                                        </div>

                                        <div class="product-title">
                                            <a href="product-detail-left-sidebar.html">
                                                Organic Strawberry Fruits
                                            </a>
                                        </div>

                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on "></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>

                                        <div class="product-price">
                                            <span class="sale-price">$80.00</span>
                                            <span class="base-price">$90.00</span>
                                        </div>

                                        <div class="product-buttons">
                                            <a class="add-to-cart" href="#">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                            </a>

                                            <a class="add-wishlist" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="#">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="product-detail-left-sidebar.html">
                                                <img src="img/product/8.jpg" alt="Product Image">
                                            </a>
                                        </div>

                                        <div class="product-title">
                                            <a href="product-detail-left-sidebar.html">
                                                Organic Strawberry Fruits
                                            </a>
                                        </div>

                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on "></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>

                                        <div class="product-price">
                                            <span class="sale-price">$120.00</span>
                                        </div>

                                        <div class="product-buttons">
                                            <a class="add-to-cart" href="#">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                            </a>

                                            <a class="add-wishlist" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="#">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="product-detail-left-sidebar.html">
                                                <img src="img/product/2.jpg" alt="Product Image">
                                            </a>
                                        </div>

                                        <div class="product-title">
                                            <a href="product-detail-left-sidebar.html">
                                                Organic Strawberry Fruits
                                            </a>
                                        </div>

                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on "></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>

                                        <div class="product-price">
                                            <span class="sale-price">$80.00</span>
                                            <span class="base-price">$90.00</span>
                                        </div>

                                        <div class="product-buttons">
                                            <a class="add-to-cart" href="#">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                            </a>

                                            <a class="add-wishlist" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="#">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="section products-block category-double">
                            <div class="block-title">
                                <h2 class="title">Juices</h2>
                            </div>

                            <div class="block-content">
                                <div class="products owl-theme owl-carousel">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="product-detail-left-sidebar.html">
                                                <img src="img/product/16.jpg" alt="Product Image">
                                            </a>
                                        </div>

                                        <div class="product-title">
                                            <a href="product-detail-left-sidebar.html">
                                                Organic Strawberry Fruits
                                            </a>
                                        </div>

                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on "></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>

                                        <div class="product-price">
                                            <span class="sale-price">$80.00</span>
                                            <span class="base-price">$90.00</span>
                                        </div>

                                        <div class="product-buttons">
                                            <a class="add-to-cart" href="#">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                            </a>

                                            <a class="add-wishlist" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="#">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="product-detail-left-sidebar.html">
                                                <img src="img/product/13.jpg" alt="Product Image">
                                            </a>
                                        </div>

                                        <div class="product-title">
                                            <a href="product-detail-left-sidebar.html">
                                                Organic Strawberry Fruits
                                            </a>
                                        </div>

                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on "></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>

                                        <div class="product-price">
                                            <span class="sale-price">$120.00</span>
                                        </div>

                                        <div class="product-buttons">
                                            <a class="add-to-cart" href="#">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                            </a>

                                            <a class="add-wishlist" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="#">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="product-detail-left-sidebar.html">
                                                <img src="img/product/28.jpg" alt="Product Image">
                                            </a>
                                        </div>

                                        <div class="product-title">
                                            <a href="product-detail-left-sidebar.html">
                                                Organic Strawberry Fruits
                                            </a>
                                        </div>

                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on "></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>

                                        <div class="product-price">
                                            <span class="sale-price">$80.00</span>
                                            <span class="base-price">$90.00</span>
                                        </div>

                                        <div class="product-buttons">
                                            <a class="add-to-cart" href="#">
                                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                            </a>

                                            <a class="add-wishlist" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="#">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@


                <!-- Banners -->
                <div class="section banners-block">
                    <div class="row margin-15">
                        <div class="col-lg-6 col-md-6 col-sm-6 padding-15">
                            <div class="banner-item effect">
                                <a href="javascript:;">
                                    <img class="img-responsive" src="img/banner/home2-banner-4.png" alt="Banner">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 padding-15">
                            <div class="banner-item effect">
                                <a href="javascript:;">
                                    <img class="img-responsive" src="img/banner/home2-banner-5.png" alt="Banner">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Product - New Arrivals -->
                <div class="section products-block new-arrivals layout-3" id="lastproducts">
                    <div class="block-title">
                        <h2 class="title">Son Eklenenler</h2>
                    </div> 
                    <div class="block-content"  >
                        <div class="products owl-theme owl-carousel">
                            @foreach (var item in (List<lastProductsDto>)await response.getLastProducts("5"))
                            {
                                <div class="item">
                                    <div class="product-item">
                                        <div class="product-image">
                                            <a href="/products/@item.ProductID">
                                                <img src="/img/kurdale.png" alt="kurdale" class="kurdale">
                                                <img src="/uploads/products/@item.Image" alt="Product Image">
                                            </a>
                                        </div>

                                        <div class="product-title">
                                            <a href="/products/@item.ProductID">
                                                @item.Name
                                            </a>
                                        </div>

                                        <div class="product-rating">@Html.Raw(veriyoneticisi.ratingChange(item.averageRating)) </div>
                                        <span class="review-count">(@(item.commentCount))</span>

                                        <div class="product-price">
                                            <span class="sale-price">@item.SalePrice</span>
                                            <span class="base-price">@item.BasePrice</span>
                                        </div>

                                        <div class="product-buttons">
                                            @if (item.Stock > 0)
                                            {
                                                <a class="add-to-cart" href="javascript:;" onclick="vba.root.addBasket('@item.ProductID','@item.Name','@item.Image','@item.SalePrice','@item.Stock','@item.shippingAmount',1);">
                                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                </a>
                                            }
                                            <a class="add-wishlist" href="javascript:;" onclick="vba.route.ccnt.funcs.updateUserFavorite('@item.ProductID');">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                            </a>

                                            <a class="quickview" href="/products/@item.ProductID">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                             

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Intro -->
<div class="section intro">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="intro-header">
                    <img src="img/leaf.png" alt="Partner 1">
                    <h3>Neden Bizi Seçmelisiniz?</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="intro-left">
                    <div class="intro-item">
                        <p><img src="img/intro-icon-1.png" alt="Intro Image"></p>
                        <h4>HERZAMAN TAZE</h4>
                        <p>Sağlığınızı ve yaşam kalitenizi ön planda tutan taze ürünlerimizle vücudunuza iyi bakın.</p>
                    </div>

                    <div class="intro-item">
                        <p><img src="img/intro-icon-2.png" alt="Intro Image"></p>
                        <h4>SÜPER SAĞLIKLI</h4>
                        <p>Süper sağlıklı bir yaşam için doğal ürünlerin gücünü keşfedin. Web sitemiz, sağlığınızı desteklemek için en iyi doğal ürünleri sunar.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="effect">
                    <a href="#">
                        <img class="intro-image img-responsive" src="img/intro-2.png" alt="Intro Image">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="intro-right">
                    <div class="intro-item">
                        <p><img src="img/intro-icon-3.png" alt="Intro Image"></p>
                        <h4>%100 DOĞAL</h4>
                        <p>Sağlığınızı, mutluluğunuzu ve dengeyi korumanız için ihtiyaç duyduğunuz her şeyi bulabileceğiniz güvenilir bir kaynaktır.</p>
                    </div>

                    <div class="intro-item">
                        <p><img src="img/intro-icon-4.png" alt="Intro Image"></p>
                        <h4>ÜSTÜN KALİTELİ</h4>
                        <p>Doğallık, saflik ve en yüksek kalite standartlarını benimseyen ürünlerimizle sağlığınızı destekleyin ve kendinizi şımartın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
